<html>
    <head>
    	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
        	google.charts.load('current', {'packages':['corechart']});
        	google.charts.setOnLoadCallback(drawChart);

        	function drawChart() {
        		{% for instrument, data in data %}
                var data = google.visualization.arrayToDataTable(JSON.parse('{{ data|json_encode()|raw }}'));

                var options = {
                  title: '{{ instrument }}',
                  legend: {position: 'none'}
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_{{ instrument }}'));
                chart.draw(data, options);
                {% endfor %}
            }
        </script>
    </head>
    <body>
        {% for instrument, data in data %}
            <div id="chart_{{ instrument }}" style="width: 50%; height: 48%; float: left;"></div>
        {% endfor %}
    </body>
</html>